* {
    box-sizing: border-box;
}

  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    background-color: lavenderblush;

}

h1 {
    text-align: center;
    color: #222222;
    display: block;
}

div {
    align-self: center;
    text-align: center;
}


button {
    margin: 0 auto;
    margin-top: 35px;
    font-size: 1rem;
    font-weight: bold;
    width: 6rem;
    height: 2rem;
    border: 2px solid lavender;
    border-radius: .2rem;
    align-self: center;
    text-align: center;
    outline: none;
    color: grey;
    display: inline-block;
}

table {
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: .5rem;
    background-color: lavenderblush;
    width: 18rem;
    height: 18rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: space-between; 
    align-self: center;
    cursor: pointer; 
}
td {
    flex: 0 0 100%;
    background-color: #222222;
    height: 6rem;
    width: 6rem;
	font-size: 1.75rem;
	color: lavender;
    border-radius: 10px 10px 10px 10px; 
    text-align: center;
    align-self: center;
    align-content: space-between;


}
